stages:
  - test
  - build

before_script:
  - sudo apt-get update
  - sudo apt-get -y install curl
  - sudo apt-get -y install build-essential
  - curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain stable -y
  - source ~/.cargo/env

raspbian_test:
  stage: test
  tags:
    - raspberrypi
    - raspbian
    - armv7
  script:
    - cargo test --verbose

raspbian_build:
  stage: build
  tags:
    - raspberrypi
    - raspbian
    - armv7
  script:
    - cargo build --release --verbose
