[package]
name = "vcgencmd-rs"
version = "0.1.0"
authors = ["Linus Keiser <linus@keiser.co>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
subprocess = "0.1.18"
